body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.favicon {
    border-radius: 50%;
}

.navigate-bar {
    position: relative;
}

.body-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-bar {
    display: inline-block;
}

.item-bar {
    border-radius: 10px;
    text-decoration: none;
    display: block;
    padding: 12px;
    color: white;
    background-color: #333;
    transition: all 0.3s ease;
}

.item-bar:hover {
    width: 93vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 1px rgb(168, 13, 189);
}


#liga {
    text-align: center;
}

section {
    padding: 20px;
}

.team-title {
    text-align: center;
}

.img-responsive {
    max-width: 50%;
    height: auto;
}

.team {
    margin-bottom: 20px;
}

.img-team {
    box-shadow: 2px 2px 1px rgb(168, 13, 189);
    max-width: 100px;
    height: auto;
    display: inline-block;
}

.fix-text {
    display: inline-block;
    max-width: 90%;
}

/* Fondo opaco blanco */
.background-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Oculta el desbordamiento de la imagen */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}